{% extends 'base.html' %}
{% block content%}
    {{ super() }}
    <div>
        <script  type="text/javascript" src="{{ url_for('static', filename='js/make_visible.js') }}"></script>

        <form action="" method="post">
            {{ form.version }}
            <hr>
            {% for f in form if f.id[:8] == 'schedule' %}
                {% set ns = namespace(div_class = 'invisible') %}
                {% if f.visible.data %}
                    {% set ns.div_class = '' %}
                {% endif %}
                <div class="{{ ns.div_class }}">
                    {{ f.csrf_token }}
                    <p style="display: none">{{f.visible}}</p>
                    {% for field in f if field.name.split('-')[1] not in ['visible', 'csrf_token'] %}
                        <p>{{ field.label }} {{ field }}<p>
                    {% endfor %}
                    <hr>
                </div>

            {% endfor %}
            <input type="button" value="Добавить событие" onclick="makeVisible()">
            <hr>
            {{ form.submit }}
        </form>
    </div>

{% endblock %}