{% extends 'base.html' %}
{% block content%}
{{ super() }}
<div xmlns="http://www.w3.org/1999/html">
    <script type="text/javascript" src="{{ url_for('static', filename='js/make_visible.js') }}"></script>
    <form action="" method="post">
        {{ form.version.csrf_token }}
        <div class="version input">
            {% for field in form.version %}
                {% if field.errors %}
                <div>
                    {% for e in field.errors %}
                    <p>{{ e }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            {% endfor %}
            <p class="input-label">Версия:</p>
            <div class="abs-pos">
            {% for field in form.version if field.name.split('-')[1] not in ['visible', 'csrf_token'] %}
                {{ field(class_="input-field margin-0005") }}
            {% endfor %}
            </div>
        </div>

        {% for f in form if f.id[:8] == 'schedule' %}
            {% set ns = namespace(div_class = 'invisible') %}

            {% if f.visible.data %}
                {% set ns.div_class = '' %}
            {% endif %}
            <div class="{{ ns.div_class }} schedule">
                <p class="schedule-title">Событие #{{f.id[8:]}}</p>
                {{ f.csrf_token }}
                {{f.visible(class_="not-displayed")}}

                <div class="input">{{ f.title.label(class_="input-label") }} {{ f.title(class_="input-field margin-0005 abs-pos w-450") }}</div>
                <div class="input"><span class="input-label">Время:</span> <span class="abs-pos">{{ f.start_time(class_="input-field margin-0005 date") }}{{ f.end_time(class_="input-field margin-0005 date")}}</span></div>
                <div class="input">{{ f.channel_id.label(class_="input-label") }} {{ f.channel_id(class_="input-field margin-0005 abs-pos w-450") }}</div>

                <div class="input add-option">
                    <input type="checkbox" id="checkbox-{{f.name}}" class="optional-checkbox">
                    <label for="checkbox-{{f.name}}" class="input-label optional-checkbox-label">дополнительные параметры</label>
                </div>

                <div class="optional-invisible">
                {% for field in f if field.name.split('-')[1] not in ['csrf_token', 'start_time', 'end_time', 'visible',
                'title', 'channel_id', 'short_description', 'full_description'] %}
                    <div class="input">{{ field.label(class_="input-label") }} {{ field(class_="input-field margin-0005 abs-pos w-450") }}</div>
                {% endfor %}
                    <div class="input-textarea ">{{ f.short_description.label(class_="input-label") }} {{ f.short_description(class_="input-field margin-0000 w-450") }}</div>
                    <div class="input-textarea ">{{ f.full_description.label(class_="input-label") }} {{ f.full_description(class_="input-field margin-0005 w-450") }}</div>
                </div>
            </div>
        {% endfor %}


            <!--
            </div>
            {% for f in form if f.id[:8] == 'schedule' %}
                {% set ns = namespace(div_class = 'invisible') %}
                {% if f.visible.data %}
                    {% set ns.div_class = 'schedule' %}
                {% endif %}
                <div class="{{ ns.div_class }}">
                    {{ f.csrf_token }}
                    <p style="display: none">{{f.visible}}</p>
                    <div>
                        <div>
                            <div>{{ f.title.label}}</div><div class="input">{{ f.title}}</div>
                        </div>
                        <div>
                            <div><label>Время</label></div>
                            <div>{{ f.start_time }} - {{ f.end_time }}</div>
                        </div>
                    </div>
                    {% for field in f if field.name.split('-')[1] not in ['csrf_token'] %}
                        {% if field.errors %}
                            {% for e in field.errors %}
                                <p>{{ e }}</p>
                            {% endfor %}
                        {% endif %}
                        <p>{{ field.label }} {{ field }}<p>
                    {% endfor %}
                </div>
            {% endfor %}
            <input type="button" value="Добавить событие" onclick="makeVisible()">
            <hr>-->
            <input type="button" value="Добавить событие" onclick="makeVisible()">
            {{ form.submit }}
    </form>
</div>

{% endblock %}