body {
    font-family: sans-serif;
}

/* main menu*/

.mainmenu li{
    margin: 5px -5px 5px 0px;
    display:  inline-block;
    background-color: #CCE4FA;
}
.mainmenu ul {
    padding-left: 0px;
}


.mainmenu a {
    font-size: 1em;
    color: #168DFE;
    font-family: sans-serif;
    font-weight: bolder;
    display:  block;
    padding: 10px 15px;
}

.mainmenu a:hover {
    color: white;
}

.mainmenu li:hover {
    background-color: #168DFE;
}


/* Create schedule */
/* make another div invisible */
div .invisible {
    display: none;
}

/* schedule form */
input {
    height: 22px;
    border-radius: 6px;
    border: 2px solid #168DFE;
    font-size: 1em;
}

select {
    height: 26px;
    border-radius: 6px;
    border: 2px solid #168DFE;
    font-size: 1em;
    font-size: 0.9em;
}

textarea {
    height: 90px;
    width:  300px;
    border-radius: 6px;
    border: 2px solid #168DFE;
    font-size: 1em;   
}



div .version-element {
    font-family: sans-serif;
    font-size: 0.9em;
    display:  inline-block;
}

.version-element input[type=number] {
    width: 40px;
}
/*

div .errors {
    margin-bottom: 2px;
}

.errors p {
    color: #CD6155;
    font-weight: bolder;
    margin: 1px;
    padding: 5px;
    width: 600px;
    display: block;
    background: #FADBD8;
    border: 2px solid #CD6155;
    border-radius: 6px;
}

.errors input{
    border: 2px solid #CD6155;
}

.version-element p {
    margin: 2px;
}

.schedule {
    font-size: 0.9em;
}
*/